/* fontes retiradas do https://coolors.co/cee5f2-accbe1-94b2ca-7c98b3-70849a-637081-5b6e7d-536b78 


adicionar uma logo

tentar adicionar essa imagem de fundo
background-image: url("../../background_img.jpg");

adicionar links para baixar ou ler o mangá

adicionar icones

site para geração de estrela https://bennettfeely.com/clippy/
https://cursos.alura.com.br/forum/topico-como-fazer-as-estrelas-usando-css-clip-path-property-272437
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background: #536B78;
}

#container {
    max-width: 1024px;
    margin: 0 auto;
}

#container > header {
    background: #637081;
    text-align: center;
    padding-top: 1rem;
}

main {
    background: #7C98B3;
    font-size: 20px;
    padding: 1rem;
}

footer {
    background: #ACCBE1;
    height: 7rem;
}

/* CSS do nav */
nav {
    background: #517A92;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    color: #dedfdd;
    border-right: 1px solid #d0e4f1;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: #f7f7f7;
    padding: 15px;
}

/* Css do main */
main > header {
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    font-weight: 800;
}   

.manga { 
    margin-bottom: 20px; 
    cursor: pointer; 
}

.manga p {
    background-color: #2c7b8f;
    color: whitesmoke;
    padding: 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.manga p:hover {
    transform: rotate(-2deg);    
}

#mangas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*buscando mangá */

.searchmanga-container {
    background-color: #34454E;
    text-align: center;
    padding: 5em 0;
}

.searchmanga-container h2 {
    color: #fff;
    font-size: 42px;
    margin-top: 0;
    margin-bottom: 15px;
}

.searchmanga-container p {
    color: #d5d5d5;
    font-size: 24px;
    margin-bottom: 25px;
}

.searchmanga-container input {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 5px;
}

.searchmanga-container input[type=text] {
    margin-bottom: 25px;
    width: 60%;
    padding: 20px;
    font-size: 20px;
}

.searchmanga-container input[type=submit] {
    background-color: #2c7b8f;
    padding: 15px 30px;
    color: #fff;
    font-size: 24px;
}


/*contato */
.contact-container {
    text-align: center;
    padding-top: 5em;
    padding-bottom: 2em;
}

.contact-container h2 {
    font-size: 36px;
}

.contact-container p {
    font-size: 20px;
}

.contact-container input , .contact-container textarea{
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.contact-container textarea{
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 468px;
    height: 150px;
}

.contact-container input[type=submit] {
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    background-color: #2c7b8f;
    color: #fff;
}